<% layout('/layouts/boilerplate') %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h3>Create a New Listing</h3>

      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label"><b>Title</b></label>
          <input
            type="text"
            placeholder="Add a catchytitle"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Title should be valid</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label"><b>Description</b></label>
          <textarea
            type="text"
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Discription should be valid</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label"><b>Price</b></label>
            <input
              placeholder="1200"
              name="listing[price]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter a valid price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label"><b>Country</b></label>
            <input
              type="text"
              placeholder="India"
              name="listing[country]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">country should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label"><b>Upload Image</b></label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="location" class="form-label"><b>Location</b></label>
          <input
            type="text"
            placeholder="Mumbai"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>

        <br />
        <button class="btn btn-dark add-btn"><b>Add Listing</b></button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
