<% layout('/layouts/boilerplate') %>

<div
  class=" rows mt-3 alert alert-danger d-flex align-items-center col-6 offset-3"
  role="alert"
>
  <div>
    <p class="alert-heading" style="text-align: center;"><%=message%></p>
  </div>
</div>
